azure-ai-inference
azure-ai-projects
azure-core
azure-identity
azure-monitor-opentelemetry
opentelemetry-sdk
openai
fastapi
uvicorn[standard]
gunicorn
python-multipart
requests
beautifulsoup4
aiohttp
python-dotenv
pydantic
